.mixin.out
.vscode
1.12.2-natives
armourers_workshop
backups
betterrecords
build
crash-reports
CustomSkinLoader
dumps
dynmap
export
journeymap
llibrary
local/client
local/ftbquests
logs
mods
rendered
resourcepacks
saves
screenshots
shaderpacks
1.12.2.jar
1.12.2.json
*.log
hmclversion.cfg
knownkeys.txt
*.dll
usercache.json
usernamecache.json
*.lnk
zs_export.json
.workspace/icons
.workspace/ModpackModeSelector/__pycache__
.workspace/ModpackModeSelector/dist