.mixin.out
.vscode
1.12.2-natives
armourers_workshop
backups
betterrecords
build
crash-reports
CustomSkinLoader
dumps
dynmap
export
journeymap
llibrary
local/client
local/ftbquests
logs
mods
rendered
resourcepacks
saves
time.cfg
ModpackModeSelector.sh
UMS-12th-Whitelist/
banned-ips.json
banned-players.json
commands.yml
eula.txt
frps.ini
get_whitelist.sh
help.yml
incremental.aromabackup
mcserver.cfg
multipart.dat
ops.json
permissions.yml
restart.sh
run.sh
server.properties
simplelogin/
wepif.yml
whitelist.json
world/
shaderpacks
1.12.2.jar
1.12.2.json
*.log
hmclversion.cfg
knownkeys.txt
*.dll
usercache.json
usernamecache.json
*.lnk
zs_export.json
.workspace/icons
.workspace/ModpackModeSelector/__pycache__
.workspace/ModpackModeSelector/dist
*.jar
MCtime.cfg
screenshots/