# Configuration file

"balance settings" {
    I:bagStackSize=512
    D:bitLightPercentage=6.25
    B:blacklistTickingBlocks=true
    B:compatabilityMode=true
    B:damageTools=true
    I:diamondChiselUses=796480
    I:diamondSawUses=7980
    B:enableBitLightSource=true
    B:enableChiselToolHarvestCheck=true
    S:enableChiselToolHarvestCheckTools=pickaxe,axe,shovel
    B:enableSetBitCommand=false
    B:enableToolHarvestLevels=true
    B:fullBlockCrafting=true
    I:goldChiselUses=1024
    I:ironChiselUses=293440
    D:maxDrawnRegionSize=4.0
    B:requireBagSpace=false
    I:stoneChiselUses=8384
    B:voidExcessBits=false
    I:wrenchUses=1888
}


"client performance settings" {
    B:defaultToDynamicRenderer=false
    I:dynamicMaxConcurrentTessalators=32
    I:dynamicModelFaceCount=40
    B:dynamicModelMinimizeLatancy=true
    I:dynamicModelRange=128
    B:dynamicRenderFullChunksOnly=true
    B:forceDynamicRenderer=false
    I:maxMillisecondsPerBlock=10
    I:maxMillisecondsUploadingPerFrame=15
    I:minimizeLatancyMaxTime=100
    S:useVBO=AUTOMATIC
}


"client settings" {
    B:addBrokenBlocksToCreativeClipboard=true
    B:chatModeNotification=false
    I:creativeClipboardSize=32
    B:displayMeasuringTapeInChat=false
    B:enableChiselMode_ConnectedMaterial=true
    B:enableChiselMode_ConnectedPlane=true
    B:enableChiselMode_DrawnRegion=true
    B:enableChiselMode_LargeCube=true
    B:enableChiselMode_Line=true
    B:enableChiselMode_MediumCube=true
    B:enableChiselMode_Plane=true
    B:enableChiselMode_SameMaterial=true
    B:enableChiselMode_SmallCube=true
    B:enableChiselMode_Snap2=true
    B:enableChiselMode_Snap4=true
    B:enableChiselMode_Snap8=true
    B:enablePositivePatternMode_Additive=true
    B:enablePositivePatternMode_Impose=true
    B:enablePositivePatternMode_Placement=true
    B:enablePositivePatternMode_Replace=true
    B:enableRightClickModeChange=false
    B:enableTapeMeasure_Bit=true
    B:enableTapeMeasure_Block=true
    B:enableTapeMeasure_Distance=true
    B:enableToolbarIcons=true
    B:fluidBitsAreClickThrough=true
    B:invertBitBagFullness=false
    B:itemNameModeDisplay=true
    I:maxTapeMeasures=5
    I:maxUndoLevel=32
    B:perChiselMode=true
    B:persistCreativeClipboard=true
    D:radialMenuVolume=0.10000000149011612
    B:showUsage=true
}


crafting {
    B:enableChiselCrafting=true
    B:enableNegativePrintInversionCrafting=true
    B:enablePositivePrintCrafting=true
    B:enableStackableCrafting=true
}


"enabled blocks" {
    B:biomesoplenty.common.block.BlockBOPAsh=true
    B:biomesoplenty.common.block.BlockBOPBiomeBlock=true
    B:biomesoplenty.common.block.BlockBOPCrystal=true
    B:biomesoplenty.common.block.BlockBOPGem=true
    B:biomesoplenty.common.block.BlockBOPGemOre=true
    B:biomesoplenty.common.block.BlockBOPGeneric=true
    B:biomesoplenty.common.block.BlockBOPHive=true
    B:biomesoplenty.common.block.BlockBOPLog=true
    B:biomesoplenty.common.block.BlockBOPPlanks=true
    B:biomesoplenty.common.block.BlockBOPWhiteSand=true
    B:biomesoplenty.common.block.BlockBOPWhiteSandstone=true
    B:"blusunrize.immersiveengineering.common.IEContent$1"=true
    B:blusunrize.immersiveengineering.common.blocks.BlockIEBase=true
    B:blusunrize.immersiveengineering.common.blocks.metal.BlockMetalDecoration0=true
    B:cityofskytcd.chineseworkshop.block.BlockCW=true
    B:cityofskytcd.chineseworkshop.block.BlockCWBlackClay=true
    B:cityofskytcd.chineseworkshop.block.BlockCWFace=true
    B:cityofskytcd.chineseworkshop.block.BlockCWRotatedPillar=true
    B:com.direwolf20.buildinggadgets.common.blocks.ConstructionBlockDense=true
    B:com.github.alexthe666.iceandfire.block.BlockDragonBone=true
    B:com.github.alexthe666.iceandfire.block.BlockDragonOre=true
    B:com.github.alexthe666.iceandfire.block.BlockDragonScales=true
    B:com.github.alexthe666.iceandfire.block.BlockFallingGeneric=true
    B:com.github.alexthe666.iceandfire.block.BlockFallingReturningState=true
    B:com.github.alexthe666.iceandfire.block.BlockGeneric=true
    B:com.github.alexthe666.iceandfire.block.BlockMyrmexResin=true
    B:com.github.alexthe666.iceandfire.block.BlockSeaSerpentScales=true
    B:com.legacy.aether.addon.blocks.BlockAmbrosium=true
    B:com.legacy.aether.addon.blocks.BlockSkyrootWorkbench=true
    B:com.legacy.aether.blocks.BlockSunAltar=true
    B:com.legacy.aether.blocks.decorative.BlockPresent=true
    B:com.legacy.aether.blocks.decorative.BlockSkyrootBookshelf=true
    B:com.legacy.aether.blocks.decorative.BlockSkyrootPlank=true
    B:com.legacy.aether.blocks.decorative.BlockZanite=true
    B:com.legacy.aether.blocks.dungeon.BlockDungeonBase=true
    B:com.legacy.aether.blocks.dungeon.BlockPillar=true
    B:com.legacy.aether.blocks.natural.BlockAetherDirt=true
    B:com.legacy.aether.blocks.natural.BlockAetherLog=true
    B:com.legacy.aether.blocks.natural.BlockHolystone=true
    B:com.legacy.aether.blocks.natural.BlockQuicksoil=true
    B:com.legacy.aether.blocks.natural.ore.BlockAmbrosiumOre=true
    B:com.legacy.aether.blocks.natural.ore.BlockZaniteOre=true
    B:com.pam.harvestcraft.blocks.blocks.BeeBlock=true
    B:com.pam.harvestcraft.blocks.blocks.WellBlock=true
    B:com.rwtema.extrautils2.blocks.BlockAngelBlock=true
    B:com.rwtema.extrautils2.blocks.BlockCompressed=true
    B:com.rwtema.extrautils2.blocks.BlockDecorativeBedrock=true
    B:com.rwtema.extrautils2.blocks.BlockDecorativeGlass=true
    B:com.rwtema.extrautils2.blocks.BlockDecorativeSolid=true
    B:com.rwtema.extrautils2.blocks.BlockDecorativeSolidWood=true
    B:com.rwtema.extrautils2.blocks.BlockRedstoneClock=true
    B:com.rwtema.extrautils2.blocks.BlockSimpleDecorative=true
    B:"com.rwtema.extrautils2.blocks.XUTree$XUTreePlanks"=true
    B:com.shinoow.abyssalcraft.common.blocks.BlockACBasic=true
    B:com.shinoow.abyssalcraft.common.blocks.BlockACBrick=true
    B:com.shinoow.abyssalcraft.common.blocks.BlockACCobblestone=true
    B:com.shinoow.abyssalcraft.common.blocks.BlockACLog=true
    B:com.shinoow.abyssalcraft.common.blocks.BlockACOre=true
    B:com.shinoow.abyssalcraft.common.blocks.BlockACStone=true
    B:com.shinoow.abyssalcraft.common.blocks.BlockAbyssalSand=true
    B:com.shinoow.abyssalcraft.common.blocks.BlockAbyssalSandGlass=true
    B:com.shinoow.abyssalcraft.common.blocks.BlockCalcifiedStone=true
    B:com.shinoow.abyssalcraft.common.blocks.BlockDreadlandsDirt=true
    B:com.shinoow.abyssalcraft.common.blocks.BlockEthaxiumPillar=true
    B:com.shinoow.abyssalcraft.common.blocks.BlockFusedAbyssalSand=true
    B:com.shinoow.abyssalcraft.common.blocks.BlockSolidLava=true
    B:com.shinoow.abyssalcraft.common.blocks.IngotBlock=true
    B:com.sosnitzka.taiga.blocks.BlockCobble=true
    B:com.sosnitzka.taiga.blocks.BlockMeteoriteRock=true
    B:com.sosnitzka.taiga.blocks.BlockTiberium=true
    B:com.sosnitzka.taiga.generic.BasicBlock=true
    B:com.sosnitzka.taiga.generic.BlockOre=true
    B:electroblob.wizardry.block.BlockCrystal=true
    B:electroblob.wizardry.block.BlockCrystalOre=true
    B:electroblob.wizardry.block.BlockPedestal=true
    B:electroblob.wizardry.block.BlockRunestone=true
    B:knightminer.tcomplement.steelworks.blocks.BlockStorage=true
    B:landmaster.plustic.block.MetalBlock=true
    B:li.cil.oc.common.block.ChameliumBlock=true
    B:li.cil.oc.common.block.FakeEndstone=true
    B:me.ichun.mods.ichunutil.common.block.BlockCompactPorkchop=true
    B:mods.railcraft.common.blocks.aesthetics.brick.BlockBrick=true
    B:mods.railcraft.common.blocks.aesthetics.concrete.BlockReinforcedConcrete=true
    B:mods.railcraft.common.blocks.aesthetics.metals.BlockMetal=true
    B:mods.railcraft.common.blocks.ore.BlockOreMagic=true
    B:mods.railcraft.common.blocks.ore.BlockOreMetal=true
    B:mods.railcraft.common.blocks.ore.BlockOreMetalPoor=true
    B:net.blay09.mods.cookingforblockheads.block.BlockKitchenFloor=true
    B:net.malisis.doors.block.RustyLadder=true
    B:"net.mcreator.futureminecraf.MCreatorAcaciaWood$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorBirchWood$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorBlueIce$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorBrainCoral$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorBubbleCoral$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorDarkOakWood$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorDeadBrainCoral$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorDeadBubbleCoral$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorDeadFireCoral$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorDeadHornCoral$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorDeadTubeCoral$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorDriedKelpBlock$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorFireCoral$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorHoneyblock$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorHoneycombBlock$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorHornCoral$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorJigsaw$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorJungleWood$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorOakWood$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorOldBrick$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorOldCobblestone$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorOldDiamondBlock$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorOldGoldBlock$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorOldGrassBlock$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorOldGravel$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorOldIronBlock$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorOldSponge$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorOldWetSponge$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorRedSmoothSandstone$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorSmoothQuartzBlock$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorSmoothSandstone$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorSmoothStone$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorSpruceWood$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorStrippedAcaciaWood$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorStrippedAcaiaLog$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorStrippedBirchLog$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorStrippedBirchWood$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorStrippedDarkOakLog$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorStrippedDarkOakWood$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorStrippedJungleLogRecipe$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorStrippedJungleWood$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorStrippedOakLog$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorStrippedOakWood$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorStrippedSpruceLog$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorStrippedSpruceWood$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorTubeCoral$BlockCustom"=true
    B:"net.mcreator.futureminecraf.MCreatorUncarvedPumpkin$BlockCustom"=true
    B:"net.mcreator.infinite_mc.MCreatorBlock$BlockCustom"=true
    B:"net.mcreator.infinite_mc.MCreatorOre$BlockCustom"=true
    B:net.minecraft.block.Block=true
    B:net.minecraft.block.BlockBone=true
    B:net.minecraft.block.BlockBookshelf=true
    B:net.minecraft.block.BlockClay=true
    B:net.minecraft.block.BlockColored=true
    B:net.minecraft.block.BlockCompressedPowered=true
    B:net.minecraft.block.BlockConcretePowder=true
    B:net.minecraft.block.BlockDirt=true
    B:net.minecraft.block.BlockGlass=true
    B:net.minecraft.block.BlockGlazedTerracotta=true
    B:net.minecraft.block.BlockGlowstone=true
    B:net.minecraft.block.BlockGrass=true
    B:net.minecraft.block.BlockGravel=true
    B:net.minecraft.block.BlockHardenedClay=true
    B:net.minecraft.block.BlockHay=true
    B:net.minecraft.block.BlockIce=true
    B:net.minecraft.block.BlockMelon=true
    B:net.minecraft.block.BlockMycelium=true
    B:net.minecraft.block.BlockNetherBrick=true
    B:net.minecraft.block.BlockNetherrack=true
    B:net.minecraft.block.BlockNewLeaf=true
    B:net.minecraft.block.BlockNewLog=true
    B:net.minecraft.block.BlockObserver=true
    B:net.minecraft.block.BlockObsidian=true
    B:net.minecraft.block.BlockOldLeaf=true
    B:net.minecraft.block.BlockOldLog=true
    B:net.minecraft.block.BlockOre=true
    B:net.minecraft.block.BlockPackedIce=true
    B:net.minecraft.block.BlockPlanks=true
    B:net.minecraft.block.BlockPrismarine=true
    B:net.minecraft.block.BlockQuartz=true
    B:net.minecraft.block.BlockRedSandstone=true
    B:net.minecraft.block.BlockRedstoneLight=true
    B:net.minecraft.block.BlockRedstoneOre=true
    B:net.minecraft.block.BlockRotatedPillar=true
    B:net.minecraft.block.BlockSand=true
    B:net.minecraft.block.BlockSandStone=true
    B:net.minecraft.block.BlockSeaLantern=true
    B:net.minecraft.block.BlockSilverfish=true
    B:net.minecraft.block.BlockSlime=true
    B:net.minecraft.block.BlockSnowBlock=true
    B:net.minecraft.block.BlockSponge=true
    B:net.minecraft.block.BlockStainedGlass=true
    B:net.minecraft.block.BlockStainedHardenedClay=true
    B:net.minecraft.block.BlockStone=true
    B:net.minecraft.block.BlockStoneBrick=true
    B:net.minecraft.block.BlockWorkbench=true
    B:"net.silentchaos512.scalinghealth.init.ModBlocks$1"=true
    B:openblocks.common.block.BlockElevator=true
    B:openblocks.common.block.BlockSponge=true
    B:org.cyclops.colossalchests.block.ChestWall=true
    B:primetoxinz.coralreef.BlockReef=true
    B:rustic.common.blocks.BlockBase=true
    B:rustic.common.blocks.BlockClayWallDiag=true
    B:rustic.common.blocks.BlockFertileSoil=true
    B:rustic.common.blocks.BlockLogRustic=true
    B:rustic.common.blocks.BlockPillar=true
    B:rustic.common.blocks.BlockPlanksRustic=true
    B:shadows.ench.objects.BlockHellBookshelf=true
    B:shnupbups.tinkersaether.blocks.TABlock=true
    B:slimeknights.tconstruct.gadgets.block.BlockBrownstone=true
    B:slimeknights.tconstruct.gadgets.block.BlockDriedClay=true
    B:slimeknights.tconstruct.shared.block.BlockClearGlass=true
    B:slimeknights.tconstruct.shared.block.BlockClearStainedGlass=true
    B:slimeknights.tconstruct.shared.block.BlockDecoGround=true
    B:slimeknights.tconstruct.shared.block.BlockFirewood=true
    B:slimeknights.tconstruct.shared.block.BlockMetal=true
    B:slimeknights.tconstruct.shared.block.BlockOre=true
    B:slimeknights.tconstruct.shared.block.BlockSlime=true
    B:slimeknights.tconstruct.shared.block.BlockSlimeCongealed=true
    B:slimeknights.tconstruct.shared.block.BlockSoil=true
    B:slimeknights.tconstruct.smeltery.block.BlockSeared=true
    B:slimeknights.tconstruct.world.block.BlockSlimeDirt=true
    B:slimeknights.tconstruct.world.block.BlockSlimeLeaves=true
    B:thedarkcolour.core.block.BlockBase=true
    B:thedarkcolour.core.block.BlockRotatable=true
    B:thedarkcolour.futuremc.block.BlockBlueIce=true
    B:thedarkcolour.futuremc.block.BlockLoom=true
    B:thedarkcolour.futuremc.block.BlockStrippedLog=true
    B:twilightforest.block.BlockTFAuroraBrick=true
    B:twilightforest.block.BlockTFCastleBlock=true
    B:twilightforest.block.BlockTFCastleDoor=true
    B:twilightforest.block.BlockTFCastleMagic=true
    B:twilightforest.block.BlockTFCastlePillar=true
    B:twilightforest.block.BlockTFCinderFurnace=true
    B:twilightforest.block.BlockTFCinderLog=true
    B:twilightforest.block.BlockTFCompressed=true
    B:twilightforest.block.BlockTFDarkLeaves=true
    B:twilightforest.block.BlockTFDeadrock=true
    B:twilightforest.block.BlockTFDiagonal=true
    B:twilightforest.block.BlockTFFluffyCloud=true
    B:twilightforest.block.BlockTFGiantCobble=true
    B:twilightforest.block.BlockTFGiantLog=true
    B:twilightforest.block.BlockTFGiantObsidian=true
    B:twilightforest.block.BlockTFHorizontal=true
    B:twilightforest.block.BlockTFHugeGloomBlock=true
    B:twilightforest.block.BlockTFHugeStalk=true
    B:twilightforest.block.BlockTFLog=true
    B:twilightforest.block.BlockTFMagicLog=true
    B:twilightforest.block.BlockTFMagicLogSpecial=true
    B:twilightforest.block.BlockTFMazestone=true
    B:twilightforest.block.BlockTFNagastone=true
    B:twilightforest.block.BlockTFNagastoneEtched=true
    B:twilightforest.block.BlockTFNagastonePillar=true
    B:twilightforest.block.BlockTFPillar=true
    B:twilightforest.block.BlockTFRoots=true
    B:twilightforest.block.BlockTFShield=true
    B:twilightforest.block.BlockTFTowerDevice=true
    B:twilightforest.block.BlockTFTowerWood=true
    B:twilightforest.block.BlockTFTrollSteinn=true
    B:twilightforest.block.BlockTFUncraftingTable=true
    B:twilightforest.block.BlockTFUnderBrick=true
    B:"twilightforest.block.RegisterBlockEvent$1"=true
    B:wile.engineersdecor.blocks.BlockDecor=true
    B:wile.engineersdecor.blocks.BlockDecorFull=true
}


"integration settings" {
    B:ShowBitsInJEI=false
    B:enableMCMultipart=true
    B:enableVivecraftCompatibility=false
}


items {
    B:enableBitBag=true
    B:enableBitSaw=true
    B:enableBitTank=true
    B:enableChisledBits=true
    B:enableDiamondChisel=true
    B:enableGoldChisel=true
    B:enableIronChisel=true
    B:enableMirrorPrint=true
    B:enableNegativePrint=true
    B:enablePositivePrint=true
    B:enableStoneChisel=true
    B:enableTapeMeasure=true
    B:enableWoodenWrench=true
}


troubleshooting {
    B:disableCustomVertexFormats=false
    B:enableAPITestingItem=false
    B:enableFaceLightmapExtraction=true
    B:logEligibilityErrors=false
    B:logTileErrors=false
    B:useGetLightValue=true
}


