# Configuration file

##########################################################################################################
# tickable_entities
#--------------------------------------------------------------------------------------------------------#
# Entities to be enhanced, will show everything ZombieAwareness should be able to enhance, only zombie based mobs and some others are default on, if a mob uses ground pathfinding and is able to be hostile you can try enabling more from other mods, but how well the enhancing works depends on how the mod implemented their mob
##########################################################################################################

tickable_entities {
    B:Blaze=false
    B:CaveSpider=true
    B:Creeper=false
    B:ElderGuardian=false
    B:EnderDragon=false
    B:Enderman=false
    B:Endermite=false
    B:EvocationIllager=false
    B:Ghast=false
    B:Giant=false
    B:Guardian=false
    B:Husk=true
    B:IllusionIllager=false
    B:LavaSlime=false
    B:PigZombie=false
    B:Shulker=false
    B:Silverfish=false
    B:Skeleton=true
    B:Slime=false
    B:Spider=true
    B:Stray=true
    B:Vex=false
    B:VindicationIllager=false
    B:Witch=true
    B:WitherBoss=false
    B:WitherSkeleton=true
    B:Zombie=true
    B:ZombieVillager=true
    B:abyssalcraft.Jzahar=false
    B:abyssalcraft.abygolem=false
    B:abyssalcraft.abyssalzombie=false
    B:abyssalcraft.antiabyssalzombie=false
    B:abyssalcraft.anticreeper=false
    B:abyssalcraft.antighoul=false
    B:abyssalcraft.antiplayer=false
    B:abyssalcraft.antiskeleton=false
    B:abyssalcraft.antispider=false
    B:abyssalcraft.antizombie=false
    B:abyssalcraft.chagaroth=false
    B:abyssalcraft.chagarothfist=false
    B:abyssalcraft.chagarothspawn=false
    B:abyssalcraft.demonchicken=false
    B:abyssalcraft.demoncow=false
    B:abyssalcraft.demonpig=false
    B:abyssalcraft.demonsheep=false
    B:abyssalcraft.depthsghoul=false
    B:abyssalcraft.dragonboss=false
    B:abyssalcraft.dragonminion=false
    B:abyssalcraft.dreadgolem=false
    B:abyssalcraft.dreadguard=false
    B:abyssalcraft.dreadling=false
    B:abyssalcraft.dreadspawn=false
    B:abyssalcraft.evilchicken=false
    B:abyssalcraft.evilcow=false
    B:abyssalcraft.evilpig=false
    B:abyssalcraft.evilsheep=false
    B:abyssalcraft.greaterdreadspawn=false
    B:abyssalcraft.gskeleton=false
    B:abyssalcraft.jzaharminion=false
    B:abyssalcraft.lesserdreadbeast=false
    B:abyssalcraft.lessershoggoth=false
    B:abyssalcraft.omotholghoul=false
    B:abyssalcraft.remnant=false
    B:abyssalcraft.shadowbeast=false
    B:abyssalcraft.shadowboss=false
    B:abyssalcraft.shadowcreature=false
    B:abyssalcraft.shadowmonster=false
    B:abyssalcraft.shuboffspring=false
    B:aerwhale=false
    B:cockatrice=false
    B:cyberzombie=true
    B:cyclops=false
    B:"ebwizardry:blaze_minion"=false
    B:"ebwizardry:evil_wizard"=false
    B:"ebwizardry:husk_minion"=true
    B:"ebwizardry:ice_wraith"=false
    B:"ebwizardry:lightning_wraith"=false
    B:"ebwizardry:magic_slime"=false
    B:"ebwizardry:silverfish_minion"=false
    B:"ebwizardry:skeleton_minion"=true
    B:"ebwizardry:spider_minion"=true
    B:"ebwizardry:stray_minion"=true
    B:"ebwizardry:vex_minion"=false
    B:"ebwizardry:wither_skeleton_minion"=true
    B:"ebwizardry:zombie_minion"=true
    B:fire_minion=false
    B:gorgon=false
    B:if_troll=false
    B:mimic=false
    B:sentry=false
    B:siren=false
    B:stymphalianbird=false
    B:sun_spirit=false
    B:tconstruct.blueslime=false
    B:valkyrie=false
    B:valkyrie_queen=false
    B:wasp=false
    B:whirlwind=false
    B:zephyr=false
}


